{% load static %}
<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet'  href='{% static "css/tan_styling.css" %}'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--The favicon links-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/Favicon_d/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/Favicon_d/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/Favicon_d/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/Favicon_d/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/Favicon_d/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
      
<body>
    <! Navbar from bootstra---->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'daniil_page' %}">Daniil <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    </nav>  
    <section id="Home">
        <h1>WELCOME</h1>
    <section id="About">
        <h2>ABOUT TANGENI IDENGA</h2>
        <p>
            Based in London, Tangeni Idhenga is a 17 year old that has been insprired by friends and influencers around the world to learn and study more 
            into the fields of Computer Science. He is current secondary school student studying to graduate with an 
            International Baccalaureate diploma in June of 2021. Throughout his academic career, Tangeni has 
            been presented with oppertunities that would range from Internships to multiple leadership activities. 
        </p>
    </section>
    <section id="Experiances">
        <b><h3> Experiances</h3></b>
        <p>In January of 2020, Tangeni had participated within the Model United Nations General Assembly located in The Hague, Netherlands, engaging activitly throughout multiple discussions
           as well as being part of the     </p> 
        <p> Tangeni has also served as a Foreign relations intern for the High Commision of Namibia to the United Kindgom, London, as well as 
            the the Permanent Mission of Namibia to the United Nations located within New York City.      </p>
        <p> From July 2019 to present day, August 2020, Tangeni has been working as a Business Operations Intern, for Palmera Investments located in Windhoek,Namibia.</p> 
        <p> As for knowledge acquired based on coding, Tangeni has currently learnt HTML,CSS and Python. As he continues to learn more about 
            Computer Science and coding he plans to learn Java, Javascript, C and C++.     </p>
    </section>
    <section id="Future">
        <b><h3> Future Plans</h3></b>
        <p> Tangeni plans to study Computer Science within the United States, as well as explore his other interests in Engineering. Testing
              </p>
    </section>
  <h3> Contact Info </h3> 

    <div class="social">
        <a href="https://github.com/TangeniI">GitHub<i class="fab fa-github-alt"></i></a>
        <a href="https://t.me/TangeniI">Telegram<i class="fab fa-telegram"></i></a></p>
        <a href="https://www.linkedin.com/in/tangeni-idhenga-056267190/">linkedin<i class="fab fa-linkedin"></i></a></p>
        <a href="mailto:tangeni.idhenga@gmail.com">tangeni.idhenga@gmail.com</a></p>
    </div>
</body>


<footer>
    <p>Created by Tangeni Idhenga </br></p>
</footer>
</html> 