
body{
    margin: 0;
    padding:0;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.new_body{
    margin: 0;
    padding:0;
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}

.skewedBox{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    padding:100px 0;
    transform:skew(0deg,-10deg)translateY(-170px);
}

.container{
    padding: 150px 200px;
    transform: skew(0deg, 10deg);
    font-family: Arial, Helvetica, sans-serif;
}
.container h1{
    animation: 3s ease-out 0s 1 slideInFromLeft;
    color: white;
    margin: 0;
    padding: 20px 0px;
    font-size:3em;
    border-radius: 15px 50px 30px 5px;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); 
    width: 450px;
    height: 100px;
}


.sec2{
    padding: 0 200px 150px;
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 20px;
}
.sec2 h1{
    margin: 20px;
    padding: 20px 0px;
    font-size:3em;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    border-radius: 25px;
    width: 200px;
    height: 100px
}

.sec2 p{
    font-size:1em ;
    margin: 5px;
    padding: 20px;
    line-height: 1.5em;
    width: 80%;
    border-radius: 25px;
    border: 2px solid white;
    width: 800px;
    height: 100px;
}

nav{
    align-content: center;
    display: block;
    color:white ;
    text-decoration:none;
    margin: auto;
	border-radius: 15px;
	background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
	width:150px;
    height: 50px;
    opacity: 0.9;
}

nav:hover{
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    opacity: 1;
}

#section3{
    padding: 0 200px 150px;
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: right;
    margin: 20px 600px;
}
#section3 h1{
    padding: 20px 0px;
    font-size:3em;
    color:white ;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    border-radius: 25px;
    width: 350px;
    height: 100px;
    text-align:center;
    margin: 20px 350px;

}

#section3 p{
    font-size:1em ;
    margin: 5px;
    padding: 20px;
    line-height: 1.5em;
    width: 80%;
    color:white ;
    border-radius: 25px;
    border: 2px solid white;
    width: 700px;
    height: 100px;
}

.section4{
    padding: 0 200px 150px;
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
    align-content:center;
    margin: 20px 450px;
}
.section4 h1{
    padding: 20px 0px;
    font-size:3em;
    color:white ;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    border-radius: 25px;
    width: 500px;
    height: 100px;
    text-align: center;

}

.section4 p{
    font-size:1em ;
    margin: 5px;
    padding: 20px;
    line-height: 1.5em;
    width: 80%;
    color:white ;
    border-radius: 25px;
    border: 2px solid white;
    width: 800px;
    height: 100px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.circle1{
    margin:20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    border-radius: 50%;
    display: inline-block; 
}
.circle2{
    margin: 20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    border-radius: 50%;
    display: inline-block; 
}
.circle3{
    margin: 20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    border-radius: 50%;
    display: inline-block; 
}
.circle4{
    margin: 20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    border-radius: 50%;
    display: inline-block; 
}
.circle5{
    margin: 20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    border-radius: 50%;
    display: inline-block;
    align-content: center; 
}
.circle6{
    margin:20px 45px;
    height: 220px;
    width: 220px;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    border-radius: 50%;
    display: inline-block; 
}




@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
}



